body{
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background: rgba(115, 178, 207, 0.3);
  /* background: url(https://cloud-mslo6aesh.vercel.app/069.jpg); */
  background-size: cover; 
  }
  .header{
    height: 70px;
    font-size: larger;
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(29, 148, 108);
  }
  .container{
    height: 450px;
    display: block;
    background-color: black;
    justify-content: center;
    align-items: center;
   
  }
.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* display: flex; */
  flex-wrap: wrap;
  width: 560px;
  height: 480px;
  width: 60%;
  gap: 2px;
  /* flex-direction: column; */
}

.gameBoardContainer{
  border: red;
  background-color: black;
  display: flex;
  height:   330px;
}

.playerOneContainer{
  background-color: rgb(29, 148, 108);
  height: 100%;
  width: 20%;
  color: white;
  padding-left: 8px;

}

.playerTwoContainer{
  background-color: rgb(29, 148, 108);
  height: 100%;
  width: 30%;
  padding-left: 10px;
  color: white;

}
.startExitBt{
  background-color: rgb(29, 148, 108);
display: flex;
}

.tile{
  padding: 2.5px;
  width:75px;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.board{
  width: 560px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.active{
  color: rgb(255, 244, 244);
  padding: 10px 10px;
  border-radius: 10px;
  background: rgb(81, 187, 230);
  box-shadow: 0 0 30px rgba(81, 187, 230, 0.8);
}
.reload{
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(29, 148, 108);
}
/* .reload:hover{
  transform: scale(1.2);
} */
 .startBtn{
  margin-left: 10%;
  border: double gray;
  background-color: green;
  color: white;
  border-radius: 10px;
 
 } 
 .exitbtn{
  border-radius: 10px;
  border: double gray;
  background-color: rgb(197, 10, 10);
  color: white;
 }







